<!doctype html>

<html lang="pt-br">
  <head>
    <meta chartset="utf-8">
    <title>dgmike{% if page.title != "index" %} | {{ page.title }}{% endif %}</title>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>

  <body>
    <a class="to_content" href="#conteudo">Ir para o conteúdo principal</a>

    <nav>
      <ul>
        <li><a href="/">Página Inicial</a></li>
      </ul>
    </nav>

    <header>
      {% if page.title == "index" %}
        <h1>dgmike</h1>
      {% else %}
        <h1><a href="/">dgmike</a></h1>
      {% endif %}
    </header>

    <main id="conteudo">
      {% if page.title != "index" %}
        <h1>{{ page.title }}</h1>
      {% else %}
        {{ content }}
      {% endif %}
    </main>

    {% if site.posts.size > 0 %}
    <aside>
      <h2>Matérias</h2>
      <ul>
        {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }} ({{ post.date | date_to_string }})</a>
        </li>
        {% endfor %}
      </ul>
    </aside>
    {% endif %}
  </body>
</html>
