<!doctype html>

<html lang="pt-br">
  <head>
    <meta chartset="utf-8">
    <title>dgmike{% if page.title != "index" %} | {{ page.title }}{% endif %}</title>
  </head>

  <body>
    <a href="#conteudo">Ir para o conteúdo principal</a>

    <main id="conteudo">
      <h1>{{ page.title }}</h1>

      {{ content }}
    </main>

    {% if site.posts.size > 0 %}
    <aside>
      <ul>
        {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </aside>
    {% endif %}
  </body>
</html>
